<!DOCTYPE html>
<!--

 Enterprise Java Development - Final Test
 Due December 15th 2021       
 Authors: Camila Barbosa 192622796
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    </head>
    <body>
        
        <main class="container">
            <form action="/save_Greeting" method="post"><br/><br/>

                <label for="name">Name: </label>
                <input type="text" id="name" name="name"/><br/><br/>

                <label for="message">Message: </label>
                <input type="text" id="message" name="message"/><br/><br/>

                <input type="submit" class="button" value="Add"/>


            </form>
        </main>
    </body>
</html>
